.Modal {
  position: fixed;
  z-index: 500;
  background-color: #fff;
  width: 680px;
  min-height: 200px;
  max-height: 700px;
  overflow-y: scroll;
  border: 1px solid black;
  border-radius: 10px;
  padding: 16px;
  left: calc(50% - 340px);
  top: 10%;
  box-sizing: border-box;
  transition: all 0.1s ease-out;
}

.close-modal {
  position: absolute;
  top: 20px;
  right: 30px;
}

.close-modal:hover {
  cursor: pointer;
}

.tag {
  background-color: rgb(4, 165, 4);
  border-radius: 2px;
  color: #fff;
  padding: 2px 5px;
  margin: 0 5px;
}

.tags {
  margin: 10px 0;
}

@media all and (max-width: 450px) {
  .Modal {
    width: 100%;
    height: 80%;
    left: 0;
  }
}