.Dropzone {
  height: 10%;
  width: 10%;
  background-color: #fff;
  /* border: 2px dashed rgb(187, 186, 186); */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 16px;
  margin-bottom: 2vh;
  color: lightgray;
  margin: auto;
  border-radius: 5px;
}

.Icon {
  opacity: 0.3;
  height: 64px;
  width: 64px;
}

.FileInput {
  display: none;
}

.RandomVar {
  width: 45%;
  margin-bottom: 1vh;
}

@media (max-width: 500px) {
  .Main-container {
    display: flex;
    justify-content: center;
    flex-flow: column;
  }

  .RandomVar {
    width: 100%;
    margin-bottom: 2vh;
  }
}
